* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #ffcc29;
  --blue: #1d539e;
  --gray: #828799;
  --page-background: #f9fbfc;
}

body {
  background: var(--page-background);
  height: 100vh;
}

body * {
  font-family: 'Open Sans', sans-serif;
}
